@media(max-width:1210px) {
    .header-menu li a {
        padding: 21px 8px;
    }
    body{
        overflow-x: hidden;
    }
    .carousel-inner img:last-child {
        display: none;
    }
    .nav-item:last-child {
        display: none;
    }
    .call-to-action-phone a {
        font-size: 33px;
    }
    .call-to-action-bg h2 {
        font-size: 36px;
    }
    .carousel-indicators {
        display: none;
    }
    
}

@media(max-width:1094px) {
    .search {
        width: 49px;
    }
    .header-menu li a {
        padding: 21px 6px;
        font-size: 13px;
    }
    .call-icon span {
        font-size: 28px;
    }
    .header-call {
        width: 175px;
    }
    .search span {
        font-size: 17px;
    }
    .header-menu li ul {
        left: 74px;
        z-index: 9999;
    }
    .banner-content h1 {
        font-size: 45px;
    }
    .banner-content p {
        font-size: 17px;
    }
    .slider {
        height: 650px;
    }
    .banner-content {
        padding: 140px 0 100px 0;
    }
    .carousel-inner img:nth-child(2) {
        display: none;
    }
    .nav-item:nth-child(5) {
        display: none;
    }
    .call-to-action-phone span {
        width: 54px;
        height: 54px;
        font-size: 25px;
    }
}
.sadia-btn {
	display: none;
}
.sadia {
    display: block;
}
@media(max-width:992px) {
    .slider {
        height: 575px;
    }
    .banner-content {
        padding: 118px 0 71px 0;
    }
    .banner-content h5 {
        color: #e73c3e;
        font-weight: 400;
    }
    .banner-content a {
        padding: 11px 32px;
    }
    .about-shape {
        right: 165px;
    }
    .about-content {
        margin-top: 56px;
    }
    .nav-item:nth-child(4) {
        display: none;
    }
    .choose-hero {
        margin-bottom: 30px;
    }
    .common-btn {
        margin-bottom: 70px;
    }
    .call-to-action-bg h2 {
        font-size: 40px;
        border-bottom: 1px solid #ddd;
        border-right: none;
        padding-bottom: 24px;
    }
    .coursol-com h1 {
        font-size: 22px;
    }
    .coursol-com p {
        font-size: 15px;
    }
    .team-member-con {
        margin-bottom: 32px;
    }
    .sadia {
        display: none;
    }
    .sadia-btn {
        display: block;
    }
    .button-div {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-right: 27px;
    }
    .news-card:last-child {
        margin-top: 40px;
    }
}

@media(max-width:768px) {
    .banner-content {
        padding: 110px 0 70px 0;
    }
    .banner-content h5 {
        font-size: 18px;
    }
    .banner-content h1 {
        font-size: 34px;
        width: 75%;
    }
    .banner-content p {
        font-size: 16px;
        width: 75%;
    }
    .banner-content a {
        font-size: 15px;
        padding: 10px 29px;
        margin-top: 10px;
    }
    .slider {
        height: 535px;
    }
    .carousel-inner img:nth-child(3) {
        display: none;
    }
    .about-shape {
        right: -10px;
    }
    .about-content h3 {
        font-size: 30px;
    }
    .nav-item:nth-child(3) {
        display: none;
    }
    .box-item:last-child {
        margin-top: 20px;
    }
}

@media(max-width:576px) {
    .banner-content {
        padding: 80px 0 49px 0;
    }
    .banner-content h1 {
        font-size: 32px;
        width: 62%;
    }
    .banner-content p {
        font-size: 16px;
        width: 57%;
        padding: 5px 0;
        line-height: 29px;
    }
    .banner-content a {
        padding: 9px 28px;
        margin-top: 4px;
    }
    .slider {
        height: 450px;
    }
    .banner-social {
        margin-top: 5px;
    }
    .carousel-inner img {
        height: 19px;
        padding: -24px !important;
    }
    /* .carousel-inner img:first-child {
        display: none;
    } */
    .carousel-inner img {
        height: 30px !important;
    }
    .search {
        display: none;
    }
    .call-to-action-bg h2 {
        font-size: 33px;
    }
    .call-to-action-phone a {
        font-size: 24px;
    }
    .d-flex {
        display: block !important;
    }
    .call-to-action-phone span {
        width: 50px;
        height: 50px;
        font-size: 21px;
    }
    .call-to-action-phone {
        margin-top: 18px;
        text-align: center;
    }
    .call-to-action-phone span {
        display: block;
        margin: auto;
    }
    .coursol-com {
        width: 65%;
    }
}

@media(max-width:430px) {
    .banner-content h5 {
        font-size: 17px;
    }
    .banner-content h1 {
        font-size: 30px;
        width: 52%;
    }
    .banner-content p {
        font-size: 15px;
        width: 54%;
        padding: 5px 0;
        line-height: 28px;
    }
    .banner-content {
        padding: 50px 0 38px 0;
    }
    .banner-social {
        margin-top: 1px;
    }
    .banner-social ul li a {
        padding: 0 5px;
    }
    .banner-social span {
        padding-right: 40px;
    }
    .slider {
        height: 400px;
    }
    
    .carousel-inner img {
        height: 20px !important;
    }
    .header-menu li ul {
        width: 167px;
    }
    .header-menu li:hover ul {
        top: 33%;
    }
    .header-menu li a {
        padding: 16px 6px;
    }
    .about-shape {
        width: 170px;
        height: 170px;
    }
    .shape-text {
        margin-top: 25px;
    }
    .shape-text h1 {
        font-size: 56px;
    }
    .shape-text h4 {
        font-size: 15px;
        margin-top: -7px;
    }
    .about-content h3 {
        font-size: 25px;
    }
    .about-content p {
        font-size: 16px;
    }
    .choose-hero a {
        left: 71px;
        bottom: 37px;
    }
    .choose-header h1 {
        font-size: 30px;
    }
    .call-to-action-phone a {
        font-size: 18px;
        margin-top: 19px;
    }
    .value-texts p {
        font-size: 15px;
    }
    .value-texts h3 {
        font-size: 18px;
    }
    .navbar-brand img {
        height: 40px;
    }
    .header-btn a {
        padding: 8px 17px;
        font-size: 14px;
    }
    .coursol-com {
        width: inherit;
    }
    .finix-text p {
        width: inherit !important;
        font-size: 15px;
    }
}

@media(max-width:365px) {
    .about-shape {
        width: 150px;
        height: 150px;
    }
    .shape-text h1 {
        font-size: 50px;
    }
    .shape-text h4 {
        font-size: 13px;
        margin-top: -9px;
    }
    .header-btn a {
        display: none;
    }
    .sadia {
        display: block !important;
    }
}